
<div class = 'content'>
	<div class = 'row'>
		<div class = 'col-sm-3'>
			<a href="#/profil/{{vm.user.id}}" role="button"><button class="btn btn-success">
			<span class="glyphicon glyphicon-user"></span>Profil
			</button></a>
		</div>
		<div class = 'col-sm-3'>
			<a href="#/plans" role="button"><button class="btn btn-success">
			<span class="glyphicon glyphicon-calendar"></span>Plany treningowe
			</button></a>
		</div>
		<div class = 'col-sm-3'>
			<a href="#/stat" role="button"><button class="btn btn-success">
			<span class="glyphicon glyphicon-stats"></span>Statystyki
			</button></a>
		</div>
		<div class = 'col-sm-3'>
			<a href="#/exercises" role="button"><button class="btn btn-success">
			<span class="glyphicon glyphicon-scale"></span>Cwiczenia
			</button></a>
		</div>
	</div>
</div>
