<div>
	<div ng-show="errorMessage" class="alert alert-danger" role="alert">
		{{errorMessage}}
	</div>

	<div class = 'content'>
		    	
        <div class="panel panel-default">
        	<div class="panel-heading">
            	<table width="400">
			        <tr>
			            <td><label>Nazwa:</label></td>
			   			<td>{{vm.data.name}}</td>
			        </tr>
			        <tr>
			            <td><label>Data rozpoczêcia:</label></td>
			   			<td>{{vm.data.start_time}}</td>
			        </tr>
			        <tr>
			            <td><label>Aktualny dzieñ:</label></td>
			   			<td>{{vm.data.current_day}}</td>
			        </tr>
			        <tr>
			            <td><label>D³ugoœæ:</label></td>
			   			<td>{{vm.data.period}} dni</td>
			        </tr>
			        <tr>
			            <td><label>Twórca:</label></td>
			   			<td>{{vm.data.owner}} </td>
			        </tr>
			        <tr>
			            <td><label>Kategoria:</label></td>
			   			<td>{{vm.data.categoryName}}</td>
			        </tr>
			    </table>	
			</div>
	        <div class="panel-body">	
				<table class="table table-condensed" style="border-collapse:collapse;">
				    <thead>
				        <tr>
				        	<th>&nbsp;</th>
				            <th>Numer dnia</th>
				            <th>Liczba æwiczeñ</th>
				            <th>&nbsp;</th>
				        </tr>
				    </thead>
	
			    <tbody ng-repeat="day in vm.data.trainingDays">
			        <tr data-toggle="collapse" data-target="#demo{{$index}}" class="accordion-toggle">
			            <td><button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span></button></td>
			           	<td>{{day.dayNr}}</td>
			           	<td>{{day.exercises.length}}</td>
			            <td><a href="#/training/{{day.id}}">Trenuj!</a></td>			
			        </tr>
			        <tr>
			            <td colspan="12" class="hiddenRow">
			            	<div class="accordian-body collapse" id="demo{{$index}}"> 
			              		<table class="table table-condensed" style="border-collapse:collapse;">
			              			<thead>
			              				<tr>
			              					<td>Nazwa</td>
			              					<td>Opis</td>
			              					<td>Serie</td>
			              					<td>Powtórzenia</td>
			              					<td>&nbsp;</td>
			              				</tr>
			              			</thead>
			              			<tbody>
			              				<tr ng-repeat="exercise in vm.data.trainingDays[$index].exercises">
			              					<td>{{exercise.name}}</td>
			              					<td>{{exercise.description}}</td>
			              					<td>{{exercise.series}}</td>
			              					<td>{{exercise.repeats}}</td>
			              					<td>&nbsp;</td><!-- Dodaæ link do prezentacji æwiczeñ #/exercise/{{exercise.id}} -->
			              				</tr>
			              			</tbody>
			              		</table>
			              		
			              	</div>
			            </td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div> 
</div>