<div>
	<div ng-show="errorMessage" class="alert alert-danger" role="alert">
		{{errorMessage}}
	</div>
	
	<div class = 'content'>
	    <table class="table table-hover">
	    	<thead>
	    		<tr>
	    			<th> Name </th>
	    			<th> Start Time </th>
	    		</tr>
	        </thead>
	        <tbody>
		        <tr ng-repeat="plan in vm.data">
		            <td data-title="'Name'">
		                {{plan.name}}
		            </td>
		            <td data-title="'Age'">
		                {{plan.start_time}}
		            </td>
		        </tr>
	        </tbody>
	    </table>
	</div>
</div>