<div>
	<div ng-show="errorMessage" class="alert alert-danger" role="alert">
		{{errorMessage}}
	</div>
	
	<button class="btn btn-success" ng-click="vm.active()">
		Aktywne plany
	</button>
	
	<button class="btn btn-success" ng-click="vm.nonactive()">
		Nieaktywne plany
	</button>
	
	<button class="btn btn-success" ng-click="vm.search()">
		Wyszukaj plany
	</button>
	
	<div class = 'content'>
	    <table class="table table-hover table-striped">
	    	<thead>
	    		<tr>
	    			<th>Nazwa treningu</th>
	    			<th>Kategoria</th>
	    			<th>Czas rozpoczęcia</th>
	    			<th>Długość treningu</th>
	    			<th>Aktualny dzień</th>
	    			<th>Twórca</th>
	    			<th>Link</th>
	    		</tr>
	        </thead>
	        <tbody>
		        <tr ng-repeat="plan in vm.data">
		            <td>{{plan.name}}</td>
	    			<td>{{plan.categoryName}}</td>
	    			<td>{{plan.start_time}}</td>
	    			<td>{{plan.period}}</td>
	    			<td>{{plan.current_day}}</td>
	    			<td>{{plan.owner}}</td>
	    			<td><a href="#/plan/{{plan.training_plan_id}}">Pokaż trening</a></td>
		        </tr>
	        </tbody>
	    </table>
	</div>
</div>