<div>
	<div ng-show="errorMessage" class="alert alert-danger" role="alert">
		{{errorMessage}}
	</div>
	<!-- START Login Form -->
	<form class="form-login" role="form">
		<div class="form-group form-group-default">
			<label>Login</label>
			<div class="controls">
				<input id="input-username" type="text" name="username" placeholder="User Name" class="form-control" required>
			</div>
		</div>
		
		<div class="form-group form-group-default">
			<label>Password</label>
			<div class="controls">
				<input id="input-password" type="password" class="form-control" name="password" placeholder="Credentials" required>
			</div>
		</div>
		<button id="login-button" class="btn btn-primary btn-cons" type="submit">Sign in</button>
		<button id="register-button" class="btn btn-danger btn-cons">Register</button>
	</form>
	
	
</div>